<a href="https://colab.research.google.com/github/lazizrakhmat/DS-SQL/blob/main/_3_3_2_Combining_and_Merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.3.2 Ma'lumotlar to'/plamini uyg'unlashtirish

 

### Pandasda ma'lumotlarni birlashtirish



*   Merging
*   Joining
*   Concatenating
*   Appending

In [1]:
import pandas as pd
import numpy as numpy

### Database - 'lar  2 xil ko'rinishda bo'ladi!

* Relitional
* No Relitional

In [ ]:
!git clone https://github.com/lazizrakhmat/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), 20.24 MiB | 5.40 MiB/s, done.

In [ ]:
movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')
movies.head()

<ipython-input-7-81316242091f>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

### Bugun biz ko'radigan masala `merge` dan foydalangan holda muommoni yechish

### Masala:
    Bizdagi 2 ta csv file'dan foydalanib bitta jadval tuzib ber unda faqat (kino nomi, yili, o'rtacha ovozlar soni) bo'lsin!

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   imdb_title_id       85855 non-null  object
 1   title               85855 non-null  object
 2   original_title      85855 non-null  object
 3   year                85855 non-null  object
 4   date_published      85855 non-null  object
 5   genre               85855 non-null  object
 6   duration            85855 non-null  int64
 7   country             85791 non-null  object
 8   language            85022 non-null  object
 9   director            85768 non-null  object
 10  writer              84283 non-null  object
 11  production_company  81400 non-null  object
 12  actors              85786 non-null  object
 13  description         83740 non-null  object
 14  budget              23710 non-null  object
dtypes: int64(1), object(14)
memory usage: 9.8+ MB

In [ ]:
ratings = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_ratings.csv')
ratings

      imdb_title_id  weighted_average_vote  total_votes
0         tt0000009                    5.9          154
1         tt0000574                    6.1          589
2         tt0001892                    5.8          188
3         tt0002101                    5.2          446
4         tt0002130                    7.0         2237
...             ...                    ...          ...
85850     tt9908390                    5.3          398
85851     tt9911196                    7.7          724
85852     tt9911774                    7.9          265
85853     tt9914286                    6.4          194
85854     tt9914942                    6.7          102

[85855 rows x 3 columns]

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   weighted_average_vote  85855 non-null  float64
 2   total_votes            85855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

In [ ]:
ratings.describe()

       weighted_average_vote   total_votes
count           85855.000000  8.585500e+04
mean                5.898656  9.493490e+03
std                 1.234987  5.357436e+04
min                 1.000000  9.900000e+01
25%                 5.200000  2.050000e+02
50%                 6.100000  4.840000e+02
75%                 6.800000  1.766500e+03
max                 9.900000  2.278845e+06

### `Merging`

In [ ]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [ ]:
ratings.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [ ]:
movies_ratings = pd.merge(movies, ratings) # merge - SQL ga function biz uni pandas kutubxonasidan f/y
movies_ratings.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget,weighted_average_vote,total_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,6.1,589
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,5.8,188
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,5.2,446
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,7.0,2237

In [ ]:
movies_ratings.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [ ]:
extracted = movies_ratings[['title', 'year', 'weighted_average_vote']]
extracted.head() # Biz yuqoridagi shartga ko'ra masalamizni yechdik

                         title  year  weighted_average_vote
0                   Miss Jerry  1894                    5.9
1  The Story of the Kelly Gang  1906                    6.1
2               Den sorte drøm  1911                    5.8
3                    Cleopatra  1912                    5.2
4                    L'Inferno  1911                    7.0

##Sodda misollar

In [16]:
A = pd.DataFrame({'Transport_turi':['poezd','avtomabil','trambvay'],
                  'Tezligi':[70, 180, 120]})
A

  Transport_turi  Tezligi
0          poezd       70
1      avtomabil      180
2       trambvay      120

In [6]:
B = pd.DataFrame({'Transport':['poezd','avtomabil','kema'],
                  'Narx':[89000, 120000, 44000]})
B

   Transport    Narx
0      poezd   89000
1  avtomabil  120000
2       kema   44000

### `Merge`

In [7]:
merged = pd.merge(A, B) # Inner join - ichki
merged

   Transport  Tezligi    Narx
0      poezd       70   89000
1  avtomabil      180  120000

In [8]:
merged_outer = pd.merge(A, B, how='outer') # outer join - tashqi
merged_outer

   Transport  Tezligi      Narx
0      poezd     70.0   89000.0
1  avtomabil    180.0  120000.0
2   trambvay    120.0       NaN
3       kema      NaN   44000.0

In [11]:
merged_left = pd.merge(A, B, how='right') # right_join - chap
merged_left

   Transport  Tezligi    Narx
0      poezd     70.0   89000
1  avtomabil    180.0  120000
2       kema      NaN   44000



##`Agar ustun nomlari bir xil bo'lsachi?`

In [18]:
A

  Transport_turi  Tezligi
0          poezd       70
1      avtomabil      180
2       trambvay      120

In [19]:
B

   Transport    Narx
0      poezd   89000
1  avtomabil  120000
2       kema   44000

In [28]:
merg = pd.merge(A, B, left_on='Transport_turi',right_on='Transport') # ikki tarafgaham nom berib olamiz
merg

  Transport_turi  Tezligi  Transport    Narx
0          poezd       70      poezd   89000
1      avtomabil      180  avtomabil  120000

## Indekslar ustida birlashtirish

In [29]:
A = A.set_index('Transport_turi') # columns index
A

                Tezligi
Transport_turi
poezd                70
avtomabil           180
trambvay            120

In [32]:
merged1 = pd.merge(A, B, left_index=True, right_on='Transport')

   Tezligi  Transport    Narx
0       70      poezd   89000
1      180  avtomabil  120000

In [52]:
A

                Tezligi
Transport_turi
poezd                70
avtomabil           180
trambvay            120

In [54]:
merged2 = pd.merge(A, B, left_index=True, right_index=True, how='outer')
merged2

           Tezligi      Narx
avtomabil    180.0  120000.0
kema           NaN   44000.0
poezd         70.0   89000.0
trambvay     120.0       NaN