<a href="https://colab.research.google.com/github/lazizrakhmat/DS-SQL/blob/main/foydali_buyruqlar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3 as sql

In [3]:
!wget "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"

--2023-01-02 15:52:12--  https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/electricity.db [following]
--2023-01-02 15:52:12--  https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/electricity.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 565248 (552K) [application/octet-stream]
Saving to: ‘electricity.db’

electricity.db      100%[===================>] 552.00K  --.-KB/s    in 0.003s

2023-01-02 15:52:13 (156 MB/s) - ‘electricity.db’ saved [565248/565248]

In [4]:
db = sql.connect("electricity.db")
cursor = db.cursor()

In [6]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

[('elect',)]

In [7]:
cursor.execute("PRAGMA table_info(elect);")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [8]:
pd.read_sql("SELECT * FROM elect LIMIT 10", db, index_col="index")

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
index,,,,,,,,,,,
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.00000,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.00000,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.00000,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.00000,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.00000,0.0
5,Afghanistan,AFG,2005,0.0,0.344,0.590,0.0,0.0,0.0,0.00000,0.0
6,Afghanistan,AFG,2006,0.0,0.200,0.637,0.0,0.0,0.0,0.00000,0.0
7,Afghanistan,AFG,2007,0.0,0.198,0.748,0.0,0.0,0.0,0.00000,0.0
8,Afghanistan,AFG,2008,0.0,0.186,0.542,0.0,0.0,0.0,0.00001,0.0
9,Afghanistan,AFG,2009,0.0,0.162,0.776,0.0,0.0,0.0,0.00010,0.0

In [11]:
query = "SELECT DISTINCT country FROM elect"
countries = pd.read_sql(query, db)

In [12]:
'Uzbekistan' in countries['country'].values

True

In [18]:
query = "SELECT country, year, coal, gas, hydro, oil FROM elect WHERE country='Uzbekistan' AND year>2010"
dfuz = pd.read_sql(query,db)
dfuz

      country  year       coal        gas     hydro       oil
0  Uzbekistan  2011  10.534094  32.487781  5.646000  1.253064
1  Uzbekistan  2012  10.365016  31.966333  6.586000  1.232952
2  Uzbekistan  2013  10.939346  33.737603  5.647000  1.301270
3  Uzbekistan  2014  11.112674  34.272157  6.014000  1.321888
4  Uzbekistan  2015  10.519789  35.780629  6.998000  1.251363
5  Uzbekistan  2016  10.783891  36.678911  7.254000  1.282778
6  Uzbekistan  2017  10.998707  37.409561  8.343000  1.308332
7  Uzbekistan  2018  11.853192  40.315893  5.838030  1.409975
8  Uzbekistan  2019  12.297660  41.827647  5.451373  1.462846

In [19]:
db.close()